.navbar{
    background-color:darkorange;
    color:white;
}
.btnhome{
    background-color:darkorange;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width:100%;
}

.lbl{
    float:left;
    padding: 10px;
    text-align:center;
    vertical-align:middle; 
    color:white;
}

.groupdiv{
    text-align:right;
    background-color:#aaaaaa;
    margin:4px;
}


body{
    margin: 0px;
    background-color:dimgrey;
}

/* The switch - the box around the slider */
.switch {
  margin: 5px;
  vertical-align:middle;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: dimgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkorange;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkorange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}