body {
    background-color:dimgrey; 
}

.navbar{
    background-color:darkorange;
    color:white;
}

canvas{
   margin:0;
   padding:0;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
