.dark_background{
    background-color: #999999;
}

.app_orange{
    background-color: #E68A00;
}

.container { 
    border:2px solid #ccc; 
    width:100%; 
    height:auto; 
    overflow-y: scroll; 
}
