.navbar{
    background-color:darkorange;
    color:white;
}
.dark_background{
    background-color: #999999;
}

.app_orange{
    background-color: #E68A00;
}

.container { 
    border:2px solid #ccc; 
    width:100%; 
    height:auto; 
    overflow-y: scroll; 
}

.btnSquare {
	background-color:black;
	border-radius:20px;
	display:inline-block;
	height:110px;
    margin:4% 0% 0% 9%;
    border-color:black;
    color:white;
    font-size:11px;
    width:35%;
    vertical-align: middle;

}

.btnLeftSide {
	background-color:black;
	border-radius:20px;
	display:inline-block;
	height:110px;
    margin:15% 0% 0% 9%;
    border-color:black;
    color:white;
    font-size:11px;
    width:28%;
    vertical-align: middle;
        
}
.btnRightSide {
	background-color:black;
	border-radius:20px;
	display:inline-block;
	height:110px;
    margin:15% 9% 0% 23%;
    border-color:black;
    color:white;
    font-size:11px;
    width:28%;
    vertical-align: middle;

}
.btnRound {
    background-color:dimgrey;
    border-style:solid;
    border-color:darkorange;
    border-width:5px;
	border-radius:100px;
	display:inline-block;
	height:110px;
    margin:15% -9% 0% -65%;
    color:white;
    font-size:11px;
    width:32%;
    vertical-align: middle;
}
.btnFlat {
	background-color:black;
	border-radius:10px;
	display:inline-block;
	height:60px;
    margin:4% 9% 0% 9%;
    border-color:black;
    color:white;
    font-size:11px;
    width:80%;
    vertical-align: middle;

}
body{
   background-color:dimgrey; 
}
