.dark_background{
    background-color: #999999;
}

.app_orange{
    background-color: #E68A00;
}

.container { 
    border:2px solid #ccc; 
    width:100%; 
    height:auto; 
    overflow-y: scroll; 
}

.btnSquare {
	background-color:black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	font-size:17px;
	padding:30px 30px;
    color:white;
    font-size:11px;
    width:45%;
}
body{
   background-color:dimgrey; 
}
